.fondo {
  background-color: #545453;
}

.cabecera {
  width: 100%;
  height: ;
  background-color: rgb(14, 213, 183);
  padding: 1vh;
}

.logo {
  width: 40%;
}

.redes {
  padding-right: 2vw;
}

.logo {
  width: 50%;
}

.espacio {
  height: 1vh;
}

.beatles {
  width: 100%;
}

.buscador {
  padding-top: 1vh;
}

.margen {
  margin-bottom: 1vh;
}
